//colors
$color_mine_shaft_approx: #333;
$color_black_haze_approx: #f7f7f7;
$black:  black;
$color_mercury_approx: #e4e4e4;
$color_log_cabin_approx: #232323;
$color_tundora_approx: #444;
$color_woody_brown_approx: #433;

//fonts
$font_0: Helvetica;
$font_1: Verdana;
$font_2: sans-serif;
$font_3: fantasy;

//urls
$url_0: url(../image/bg.jpg);
$url_1: url(../image/wave.png);
$url_2: url(../image/les_cherno-belye_snizu_derevya_mrachnye_krony_tuman_molchanie_60216_2560x1080.jpg);
$url_3: url(../image/stripes-26447_960_720.png);
$url_4: url(../image/footer.png);

* {
	margin: 0;
	padding: 0;
}
html {
	height: auto;
}
body {
	width: 100%;
	height: 100%;
	color: $color_mine_shaft_approx;
	background: $color_black_haze_approx;
	font-size: 1em;
	font-family: $font_0, $font_1, $font_2;
	background-attachment: fixed;
	background-image: $url_0;
	background-size: auto;
	background-repeat: repeat;
}
#page-wrap {
	min-height: calc(100vh - 60px);
}
#mini {
	font-size: 0.1pt;
	height: 1px;
}
@media(min-width:900px) {
	#menu {
		align-items: center;
		justify-content: center;
		height: inherit;
		float: left;
		width: 80%;
		margin-left: 10%;
	}
	.parallax {
		height: 28vh;
	}
	.category {
		width: 27.33333%;
	}
	#categories {
		width: 80%;
		margin-left: 10%;
	}
}
@media(max-width:899px) {
	#menu {
		align-items: center;
		justify-content: center;
		height: inherit;
		float: left;
		width: 90%;
		margin-left: 5%;
	}
	.introduce {
		width: 90%;
	}
	.parallax {
		height: 20vh;
	}
	.category {
		width: 44%;
	}
	#categories {
		width: 90%;
		margin-left: 5%;
	}
	.forvideo {
		width: 96%;
		height: 250px;
	}
	.galery_example {
		width: 92%;
	}
	.responsive_blok {
		width: 96%;
	}
}
.menu_bok {
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	margin-left: 2%;
	height: auto;
	width: 20%;
	margin-right: 2%;
}
.menu_center {
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	height: auto;
	width: 52%;
}
.wave {
	height: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
	background-image: $url_1;
	background-size: contain;
}
.introduce {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 3%;
	padding-right: 3%;
	width: 80%;
	margin: auto;
	border-right: 10px dotted $black;
	border-left: 10px dotted $black;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	margin-bottom: 20px;
	color: $color_mercury_approx;
}
.about {
	text-align: justify;
	margin-bottom: 10px;
	width: 100%;
	background: $color_log_cabin_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 20px;
	padding: 2%;
	img {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 10px;
		width: 100%;
	}
}
.parallax {
	background-image: $url_2;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10vw;
	font-family: $font_3;
	color: $color_mercury_approx;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 1px 1px 2px $black, 0 0 0.5em $color_mercury_approx;
}
#categories {
	float: left;
	background-image: $url_3;
}
.category {
	margin: 3%;
	float: left;
	img {
		width: 100%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1);
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: .3s ease-in-out;
		&:hover {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scale(1.1);
		}
	}
}
P {
	padding-top: 5px;
	padding-bottom: 5px;
	text-indent: 10px;
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: $url_4;
	height: 30vh;
	width: 100%;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		float: left;
		img {
			height: 25vh;
			width: auto;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scale(1);
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: .3s ease-in-out;
			&:hover {
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: scale(1.1);
			}
		}
	}
}
.forvideo {
	width: 46%;
	height: 350px;
	float: left;
	margin: 2%;
	display: block;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
}
li {
	list-style-type: none;
}
ul {
	margin-left: 0;
	padding-left: 0;
}
.galery_example {
	width: 42%;
	height: auto;
	margin: 4%;
	float: left;
	display: block;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(1);
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: .2s ease-in-out;
	&:hover {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.15);
	}
}
.gallery_text {
	font-size: 2em;
	color: $color_tundora_approx;
	text-align: center;
}
#map {
	width: 100%;
	height: 350px;
	display: block;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
}
.responsive_blok {
	font-size: 2em;
	color: $color_woody_brown_approx;
	width: 46%;
	height: auto;
	margin: 2%;
	float: left;
	display: block;
	input {
		height: 23px;
		display: block;
		border: $color_mine_shaft_approx solid 2px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		padding: 3px;
		width: 50%;
	}
	select {
		height: 23px;
		display: block;
		border: $color_mine_shaft_approx solid 2px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		padding: 3px;
		width: 50%;
	}
}
h5 {
	text-align: left;
	font-size: 0.9em;
}
.input_blok {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9em;
	margin-top: 10px;
	margin-bottom: 10px;
	label {
		width: 50%;
	}
}
#menu img {
	width: 100%;
	height: auto;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(1);
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: .3s ease-in-out;
	&:hover {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.1);
	}
}