//colors
$color_mine_shaft_approx: #333;
$black:  black;
$color_mercury_approx: #e4e4e4;
$color_log_cabin_approx: #232323;
$color_tundora_approx: #444;
$color_woody_brown_approx: #433;

//fonts
$font_0: Helvetica;
$font_1: Verdana;
$font_2: sans-serif;
$font_3: fantasy;

//urls
$url_0: url(../image/bg.jpg);
$url_1: url(../image/wave.png);
$url_2: url(../image/les_cherno-belye_snizu_derevya_mrachnye_krony_tuman_molchanie_60216_2560x1080.jpg);
$url_3: url(../image/stripes-26447_960_720.png);
$url_4: url(../image/footer.png);

* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	color: $color_mine_shaft_approx;
	font-size: 1em;
	font-family: $font_0, $font_1, $font_2;
	background-attachment: fixed;
	background-image: $url_0;
	background-size: auto;
	background-repeat: repeat;
}
#page-wrap {
	min-height: calc(100vh - 60px);
}
#mini {
	font-size: 0.1pt;
	height: 1px;
}
@media(min-width:900px) {
	.parallax {
		height: 28vh;
	}
}
@media(max-width:899px) {
	#menu {
		align-items: center;
		justify-content: center;
		height: inherit;
		float: left;
		width: 90%;
		margin-left: 5%;
	}
	.introduce {
		width: 90%;
	}
	.parallax {
		height: 20vh;
	}
	.responsive_blok {
		width: 96%;
	}
	.about{
		iframe{
			margin-top: 10px;
			margin-bottom: 10px;
			height: 200px;
		}
	}
}
.wave {
	height: 50px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
	background-image: $url_1;
	background-size: contain;
}
.introduce {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 3%;
	padding-right: 3%;
	width: 80%;
	margin: auto;
	border-right: 10px dotted $black;
	border-left: 10px dotted $black;
	box-sizing: border-box;
	margin-bottom: 20px;
	color: $color_mercury_approx;
}
.about {
	text-align: justify;
	margin-bottom: 10px;
	width: 100%;
	background: $color_log_cabin_approx;
	border-radius: 20px;
	padding: 2%;
	img {
		border-radius: 10px;
		width: 100%;
	}
}
.parallax {
	background-image: $url_2;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10vw;
	font-family: $font_3;
	color: $color_mercury_approx;
	text-shadow: 1px 1px 2px $black, 0 0 0.5em $color_mercury_approx;
}
#categories {
	width:80%;
	margin-left: 10%;
	float: left;
	background-image: $url_3;
	a{
		padding: 3%;
	}
}
img {
	width: 100%;
	transform: scale(1);
	transition: .3s ease-in-out;
	&:hover {
		transform: scale(1.1);
	}
}
//.introduce{
//	img {
//		&:hover {
//			transform: none;
//		}
//	}
//}
P {
	padding-top: 5px;
	padding-bottom: 5px;
	text-indent: 10px;
}
footer {
	background-image: $url_4;
	width: 100%;
	a{
		padding: 3%;
	}
}
#map {
	width: 100%;
	height: 350px;
	display: block;
	border-radius: 5px;
}
.responsive_blok {
	font-size: 2em;
	color: $color_woody_brown_approx;
	width: 46%;
	height: auto;
	margin: 2%;
	float: left;
	display: block;
	input {
		height: 23px;
		display: block;
		border: $color_mine_shaft_approx solid 2px;
		border-radius: 5px;
		padding: 3px;
		width: 50%;
	}
	select {
		height: 23px;
		display: block;
		border: $color_mine_shaft_approx solid 2px;
		border-radius: 5px;
		padding: 3px;
		width: 50%;
	}
}
h5 {
	text-align: left;
	font-size: 0.9em;
}
.input_blok {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9em;
	margin-top: 10px;
	margin-bottom: 10px;
	label {
		width: 50%;
	}
}
.about{
	iframe{
		margin-top: 10px;
		margin-bottom: 10px;
		height: 300px;
	}
}
#menu {
	margin-top: 20px;
	margin-bottom: 20px;
}
.gallery{
	a{
		padding: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.block{
	img {
		&:hover {
			transform: none;
		}
	}
}